.homepage-header {
  padding-top: 60px;
  background: var(--background);
  color: var(--ftmgold);
  overflow: hidden;
}
.page-main {
  max-width: 1920px;
  padding: 3vw;
  overflow-x: hidden;
}
.page-main section:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .page-main {
    padding: 3vw 15px;
  }
}