.cart-item {
  height: 120px;
  display: flex;
  padding: 10px;
  background: var(--ftlgold);
}
.cart-item:not(:last-of-type) {
  margin-bottom: 15px;
}
.cart-item a, .cart-item-button-remove {
  color: var(--background);
}
.cart-item a:hover, .cart-item-button-remove:hover {
  color: #444;
}
.cart-item-img {
  height: 100%;
}
.cart-item-img img {
  height: 100%;
  width: auto;
  pointer-events: none;
  user-select: none;
}
.cart-item-info {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
.cart-item-info span {
  margin-left: 20px;
}
.cart-item-name {
  height: 80px;
  max-height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cart-item-info2 {
  display: flex;
}
.cart-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item-price b {
  font-weight: 600;
}
.cart-item-button-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-item-button-remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: unset;
  border: unset;
  height: 50px;
  width: 50px;
  font-family: var(--inter);
}
.cart-button-icon {
  font-size: 26px;
}

@media (min-width: 1024px) {
  .cart-item-price {
    margin-right: 10px;
    width: 100px;
  }
  .cart-item-price b {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .cart-item-price b {
    font-size: 16px;
  }
  .cart-item-info2 {
    flex-direction: column;
  }
  .cart-item-price {
    width: 78px;
  }
  .cart-item-button-container {
    justify-content: center;
  }
}