.ui-button {
  padding: .5rem 1rem;
  background: var(--ftmgold);
  color: var(--background);
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  border: unset;
}
.ui-button:hover {
  background: var(--ftlgold);
}
.ui-button:disabled {
  background: var(--ftgray);
  cursor: auto;
}
.table {
  display: table;
}
.ui-button-light:hover:not(:disabled) {
  background: var(--background);
  color: #fff;
}