.product-carousel {
  width: 100%;
  position: relative;
}
.product-carousel-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.product-carousel-arrow-group {
  position: absolute;
  top: 50%;
  left: -3vw;
  transform: translateY(-50%);
  width: 100vw;
}
.product-slide-arrow {
  border: unset;
  background: unset;
  font-size: 22px;
}
.product-slide-arrow-disabled {
  color: var(--ftgray);
  cursor: auto;
}

.product-carousel-slide {
  user-select: none;
  margin: 0 10px;
  position: relative;
}
.linkfill {
  position: absolute;
  inset: 0;
  z-index: 10;
}
.product-carousel-slide img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
.product-carousel-info {
  width: 100%;
}
.product-carousel-title {
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  max-height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: .01rem;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-carousel-price {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.product-carousel-price b {
  font-weight: 600;
  font-size: 18px;
}
.product-slide-discount {
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--red);
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.product-carousel-fav {
  background: unset;
  border: unset;
  position: absolute;
  z-index: 11;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: var(--background);
}
.product-carousel-fav:is(:hover, :active), .product-carousel-fav-active {
  color: var(--red);
}

@media (hover: hover) {
  .product-slide-left-arrow {
    position: absolute;
    left: 20px;
  }
  .product-slide-right-arrow {
    position: absolute;
    right: 35px;
  }
}
@media (hover: none) {
  .product-slide-left-arrow {
    position: absolute;
    left: 0px;
  }
  .product-slide-right-arrow {
    position: absolute;
    right: 5px;
  }
}
@media (hover: none) and (min-width: 700px) {
  .product-slide-left-arrow {
    position: absolute;
    left: 5px;
  }
  .product-slide-right-arrow {
    position: absolute;
    right: 5px;
  }
}
@media (min-width: 1100px){
  .product-carousel-fav {
    font-size: 24px;
  }
}