.loading-slide {
  user-select: none;
  padding: 0 10px;
  position: relative;
}
.loading-image {
  background: var(--ftgray);
  position: relative;
}
.loading-image img {
  width: 100%;
  display: block;
  height: auto;
  pointer-events: none;
}
.loading-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 80%;
  z-index: 10;
}
.loading-info {
  width: 100%;
  margin-top: 5px;
}
.loading-title, .loading-price, .loading-payment {
  background: var(--ftgray);
  height: 14px;
}
.loading-title {
  width: 100%;
}
.loading-title:nth-of-type(2) {
  width: 50%;
  margin: 5px auto 0;
}
.loading-price {
  width: 80px;
  height: 18px;
  margin: 5px auto 0;
}
.loading-payment {
  width: 75%;
  margin: 5px auto 0;
}
.loading-image, .loading-title, .loading-price, .loading-payment {
  position: relative;
  overflow: hidden;
}
.loading-image::after, .loading-title::after, .loading-price::after, .loading-payment::after {
  content: '';
  position: absolute;
  inset: 0;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, rgba(235,235,235,.75) 50%, transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}
@keyframes load {
  from {
    left: -150px;
  }
  to   {
    left: 100%;
  }
}